.top-bar {
  background-color: #a44363;
}
.top-bar-section li:not(.has-form) a:not(.button){
  background-color: #a44363;
}

footer {
	margin-bottom:30px;
	text-align:center;
	font-size:12px;
}

.accordion-like-list dd {
	display: block;
    margin-bottom: 0 !important;
	background: #efefef;
	color: #222222;
	padding: 0.5rem;
	display: block;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.name {
	padding-left:10px;
	font-weight:bold;
}

.leftpane {
	background-color: #cccccc;
}